.header-container {
  align-items: center;
  background-color: rgb(209, 205, 205);
  display: flex;
  flex-wrap: row;
  justify-content: space-around;
  top: 0;
}

.search-container {
  background-color: rgb(209, 205, 205);
  padding-bottom: 10px;
  padding-top: 9px;
  text-align: center;
}

.button-search-bar {
  background-color: rgb(94, 91, 91);
  border-radius: 5px;
  color: white;
  font-size: 15.9px;
  padding: 6px;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.button-food {
  background-color: rgb(94, 91, 91);
  border-radius: 2px;
  color: white;
}

.title-header {
  margin: 0;
}

.options-search-bar {
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
}
